VITE_NETWORK=preview
VITE_CONTRACT_ADDRESS=ee11e106e89fd0897ec108693963e0be0cdae8f41ae10e16afd63173fdbb7a9a
VITE_INDEXER_URL=https://indexer.preview.midnight.network/api/v1/graphql
VITE_PROOF_SERVER_URL=https://lace-proof-pub.preview.midnight.network
